body {
    background-color: azure;
    display: grid;
    grid-template-areas:
        "map-container"
        "infobox"
        "footer";
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

@media only screen and (min-width: 1050px) {
    body {
        grid-template-areas:
            "map-container infobox"
            "map-container footer";
        grid-template-rows: 1fr 60px;
        grid-template-columns: 60% 1fr;
        height: 100vh;
    }

    #infobox {
        margin-left: 0;
    }
}

h1 {
    font-size: 3rem;
    font-style: italic;
}

.map {
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
}

#map-container {
    grid-area: map-container;
    display: flex;
    align-items: center;
}

#infobox {
    grid-area: infobox;
    margin: 0 2%;
}

#pageFooter {
    grid-area: footer;
    display: flex;
    align-items: center;
}

.credits {
    list-style: none;
    display: flex;
    margin: auto;
}

.credits>li {
    margin-right: 0.25em;
}

.credits>li:not(:last-child):after {
    content: "•";
}

.credits a {
    color: black;
}