body {
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: 
    "header header"
    "map-container infobox"
    "footer footer";
    grid-template-rows: 7rem 1fr 60px;
    grid-template-columns: 60%  1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
    font-style: italic;
}

.map {
    display: block;
    margin: auto;
}

#pageHeader {
    grid-area: header;
    text-align: center;
}

#map-container {
    grid-area: map-container;
}

#infobox {
    grid-area: infobox;
}

#pageFooter {
    grid-area: footer;
    text-align: center;
}
