@use "sass:color";

.boundaries {
    fill: none;
    fill-opacity: 1;
    stroke: #000000;
    stroke-dasharray: none;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 0.8;
}

.rail {
    fill: white;
    fill-opacity: 0;
    font-variation-settings: normal;
    opacity: 1;
    stop-color: #000000;
    stop-opacity: 1;
    stroke: darkred;
    stroke-dasharray: 0.2, 2.4;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1.0;
}

.rail:hover {
    animation-name: dashWalk;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dashWalk {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -2.6;
    }
}

.districts {
    stroke: none;
    fill: white;
    fill-opacity: 1;
}

#bridges,
.bridge {
    stroke-dasharray: 3.2, 1.6, 0.8, 1.6;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    stroke-width: 0.8;
    stroke: midnightblue;
}

@mixin district-container($theme) {
    .districts>path {
        fill: $theme;

        &:hover,
        &.selected {
            fill: color.scale($theme, $lightness: 50%);
        }
    }
}

#central {
    @include district-container(tomato);
}

#tavicks {
    @include district-container(lightcoral);
}

#menthis {
    @include district-container(darkorchid);
}

#dura {
    @include district-container(cornflowerblue);
}

#northedge {
    @include district-container(aquamarine);
}

#cliffside {
    @include district-container(cadetblue);
}

.keyItems {
    font-size: 3pt;
}

.keyTitle {
    font-weight: bold;
}